# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.tfbackup
# Ignore lock files
.terraform.lock.hcl

# # Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore .terraform directory
**/.terraform/*
